/*Class selects Cover Letter body, gives it a border, background image and color.*/
.cover{
  border-style: double;
  background-image: url("Bottle.jpg");
  background-color: antiquewhite;
  text-align: left;
  background-repeat: space;
  background-size: cover;}
/*Class selects Cover Letter picture and makes it responsive*/
.pic{
  max-width: 100%;
  height: auto;
  float: none;
  padding-right: 5%;
  padding-bottom: 1%;
  padding-top: 1%;}
/*Unclassed body block for Resume, gives it a border and background color.*/
body {
  border-style: double;
  background-color: antiquewhite;
  text-align: left;}
/*Unclassed heading level 1 in Resume, makes it responsive and pushes 5 declarations*/
h1 {
  font-weight: bolder;
  font-style: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 5vw;}
/*Unclassed heading level 3 in Resume, makes it reponsive and pushes 4 declarations*/
h3{
  font-size: 2.9vw;
  text-indent: 0.1cm;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;}
/*Unclassed heading level 4 for Resume, makes it responsive and pushes 3 declarations*/
h4{
  font-size: 2.7vw;
  text-indent: 0.1cm;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
/*Unclassed paragraph blocks in Cover Letter, makes them responsive and pushes 4 declarations*/
p {
  text-indent: 1.10cm;
  line-height: 5vw;
  font-size: 2.4vw;
  font-family: Arial, Helvetica, sans-serif;}
/*Class selects Date, Name, and Address lines in intro of Cover Letter, makes them responsive and pushes 5 declarations*/
.pintro{
  text-indent: 0.05cm;
  font-size: 2.5vw;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 300%;}
/*Class selects Greeting, End Message, and Regard lines in Cover Letter, makes them responsive and pushes 3 declarations*/
.poutro{
  text-indent: 0.05cm;
  font-size: 2.5vw;
  font-family:Arial, Helvetica, sans-serif;}
/*Class selects signature lines in intro of Cover Letter, makes them responsive and pushes 4 declarations*/
.psignature{
  text-indent: 1.5cm;
  font-size: 3vw;
  font-family:Arial, Helvetica, sans-serif;
  font-style: italic;}
/*ID selects Address line in beginning of Resume, makes it responsive and pushes 5 declarations*/
#address {
  text-align: center;
  font-size: 2.3vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-indent: 0cm;
  line-height: 0%;}
/*ID selects Contact line in beginning of Resume, makes it responsive and pushes 5 declarations*/
#contact {
  text-align: center;
  font-size: 2.3vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-indent: 0cm;
  line-height: 300%;}
/*Unordered list for Resume, makes it responsive and pushes 4 declarations*/
ul{
  text-align: left;
  font-size: 2.5vw;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 0.4cm;}
/*List element in Resume, sets page bottom margin*/
li{
  margin-bottom: 0.4cm;}
/*Class selects navigation bar in both Resume and Cover Letter, makes it responsive, sets background color, and aligns text.*/
.nav{
  text-align: center;
  font-size: 2.5vw;
  background-color: rgba(22, 17, 1, 0.929);}
/*Class selects internal link (nav bar) in both Resume and Cover Letter, sets link and visited attributes and pushes 3 declaractions on them.*/
a.internal:link, a.internal:visited {
  text-decoration: solid;
  text-decoration-style: solid;
  color: rgb(230, 202, 46);}
/*Class selects internal link (nav bar) in both Resume and Cover Letter, sets hover and active attributes and pushes 3 declaractions on them.*/
a.internal:hover, a.internal:active {
  text-decoration: solid;
  text-decoration-style: solid;
  color: rgb(192, 32, 171);}
/*Class selects external links in Resume, sets link and visited attributes and pushes 3 declaractions on them.*/
a.external:link, a.external:visited {
  text-decoration: none;
  text-decoration-style: solid;
  color: darkorange;}
/*Class selects external links in Resume, sets hover and active attributes and pushes 3 declaractions on them.*/
a.external:hover, a.external:active {
  text-decoration: underline overline;
  text-decoration-style: wavy;
  color: darkred;}
/*Unclassed images in Resume (X3), makes them responsive, adds border, padding, and word-wrap*/
img{
  max-width: 100%;
  height: auto;
  float: right;
  border: 5px solid rgb(188, 101, 8);
  border-style: double;
  border-radius: 20px;
  padding: 1px;
  word-wrap: break-word;}
/*Makes image responsive by setting max-width on a max 600px screen*/
@media only screen and (max-width: 600px) {
  img{
    max-width: 30%;
    height: auto;
    float: right;
    }}
/*Makes image responsive by setting max-width on a screen 600px-768px*/
@media only screen and (min-width: 600px) {
  img{
    max-width: 30%;
    height: auto;
    float: right;
    }}
/*Makes image responsive by setting max-width on a screen 768px to 992px*/
@media only screen and (min-width: 768px) {
  img{
    max-width: 50%;
    height: auto;
    float: right;
    }} 
/*Makes image responsive by setting max-width on a screen 992px to 1200px*/
@media only screen and (min-width: 992px) {
img{
  max-width: 80%;
  height: auto;
  float: right;
  }} 
/*Makes image responsive by setting max-width on a screen 992px to 1200px*/
@media only screen and (min-width: 1200px) {
  img{
    max-width: 100%;
    height: auto;
    float: right;
  }}
